<div id="main-content" class="col nopadding overflow-auto d-flex flex-column">
  <h1 class="text-center section-heading p-2 p-sm-3 p-md-4 gray-bg unselectable">Configuración</h1>
  
  <!-- Consejo del día -->
  <div class="container-fluid">

    <div class="row mt-2 mt-sm-3 mt-md-4">

      <h2 class="section-heading unselectable">Cambiar idioma</h2>
      <div class="col text-center d-flex justify-content-center change-lang">

        <a class="m-2 m-md-3" href="#"><img src="/static/assets/united-kingdom.png" alt=""></a>
        <a class="m-2 m-md-3" href="#" ><img src="/static/assets/spain.png" alt=""></a>

      </div>

      
    </div>
   
  </div>

  <div class="container-fluid mt-auto d-flex w-100">
    <a href="#" onclick="signOut();" class="w-100 mb-3 mb-md-4 btn btn-outline-light roboto-font rounded-0 p-2 shadow-none">Cerrar sesión</a>
  </div>

  
</div>
 